{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "tailwindConfig": "./tailwind.config.js",
  "tailwindFunctions": ["clsx", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
